<!DOCTYPE html>
<html lang="vi">
<head>
    <link href="static_files/css.css" rel="stylesheet">
    <meta name="google-site-verification" content="bY09efzRd1Mdez5tyIypTJpjVuZTYzG-b4iwPcwBOk0">
    <meta http-equiv="content-language" content="vi, en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="fragment" content="!">
    <title>Bảng giá tên miền Việt Nam và quốc tế</title>
    <meta name="description"
          content="Bảng giá tên miền - Check giá, kiểm tra giá tên miền Việt Nam và quốc tế nhanh và chính xác nhất với bảng giá tên miền tại iNET."
          itemprop="description">
    <meta name="keywords" content="gia ten mien, bang gia ten mien, check gia ten mien, bảng giá tên miền"
          itemprop="keywords">
    <meta name="news_keywords" content="gia ten mien, bang gia ten mien, check gia ten mien, bảng giá tên miền">
    <meta name="robots" content="index,follow,noodp,noydir">

    <!--<link rel="image_src" href=""/>-->
    <meta property="fb:app_id" content="738485282934910">
    <meta property="og:site_name" content="Bảng giá tên miền Việt Nam và quốc tế">
    <meta property="og:type" content="article">

    <meta property="og:locale" content="vi_VN">
    <meta property="og:locale:alternate" content="en_US">
    <meta property="og:title" content="Bảng giá tên miền Việt Nam và quốc tế">
    <meta property="og:description"
          content="Bảng giá tên miền - Check giá, kiểm tra giá tên miền Việt Nam và quốc tế nhanh và chính xác nhất với bảng giá tên miền tại ">
    <meta property="og:image" content="">

    {% load static %}
    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'static_files/animation_002.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/bootstrap-slider.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/bootstrap.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/font-awesome_002.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/owl.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/ui-cropper.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/admin.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/affiliates.css' %} ">


    <link rel="stylesheet" href="{% static 'static_files/cloud-vps.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/domain.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/form-element.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/global_003.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/mya.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/setting_002.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/step-progress.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/ticket_002.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/website.css' %} ">

    <link rel="stylesheet" href="{% static 'static_files/animation_custom.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/client.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/coupons.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/domain-config.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/footer.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/form_002.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/icons.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/images.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/landing-page.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/menu.css' %} ">

    <link rel="stylesheet" href="{% static 'static_files/modal.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/news.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/price.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/searchwhois.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/service.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/social.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/suite-deal.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/table.css' %} ">

    <link rel="stylesheet" href="{% static 'static_files/tabs.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/background.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/banners-ads-events.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/border.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/box-model.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/breadcrumbs.css' %} ">


    <link rel="stylesheet" href="{% static 'static_files/button.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/carousel-slide.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/elements.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/fixed.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/global.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/layout.css' %} ">


    <link rel="stylesheet" href="{% static 'static_files/loading.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/margin.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/message.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/notification.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/padding.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/select-option.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/toast.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/typography.css' %} ">

    <link rel="stylesheet" href="{% static 'static_files/animate.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/agency.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/animation_custom_002.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/canvas.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/cart.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/flex-box.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/header.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/invoice.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/panel.css' %} ">


    <link rel="stylesheet" href="{% static 'static_files/products.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/tooltip.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/affiliate.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/domain_002.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/hosting.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/log.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/website_002.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/news_002.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/home.css' %} ">


    <link rel="stylesheet" href="{% static 'static_files/animation.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/form.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/global_002.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/icons_002.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/links.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/modal-dialog.css' %} ">

    <link rel="stylesheet" href="{% static 'static_files/sidebar.css' %} ">
    <link rel="stylesheet" href="{% static 'static_files/tabs_002.css' %} ">

    <script type="text/javascript" src="{% static 'static_files/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'static_files/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'static_files/owl.js' %}"></script>


</head>
<body class="bang-gia-ten-mien landing-page subpage">
<section class="page-content">
    <header id="header" class="bg-grey-f8 ng-scope" ng-controller="headerCtrl as vm">
        <!--/Main menu start/-->
        <section class="header-inner">
            <!-- ngIf: !closeAction && backorder.length > 0 -->
            <div class="top-ads padding-tb-5px ng-scope" id="domainBO"
                 ng-if="!closeAction &amp;&amp; backorder.length &gt; 0">
            </div><!-- end ngIf: !closeAction && backorder.length > 0 -->
            <div class="top-header-wrap">
                <div class="container">
                    <nav class="navbar navbar-default inet-navbar-header" display="flex" align-items="center">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header clearfix" id="brand-box">
                            <!--/Logo start/-->
                            <div class="logo navbar-header">
                                <a href="#" class="link-brand navbar-brand">
                                    <img alt="Nhà đăng ký tên miền hỗ trợ khách hàng tốt nhất"

                                         src="{% static 'static_files/logo-2017.svg' %}" height="35">
                                </a>
                            </div>
                            <!--/Logo End/-->
                        </div>
                        <div class="collapse navbar-collapse i-navbar-collapse clearfix" id="inet-best-support"
                             flex="1">
                            <div class="language dropdown navbar-left">
                            </div>
                            <div class="control-menu main-menu">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="phone-support sp-link">
                                        <a ng-href="tel:19009250" href="tel:19009250"><i
                                                class="icon in-switchboard txt-grey-72"></i> Liên hệ: 090 954 8888</a>
                                    </li>
                                    <li class="cart-menu">
                                        <a class="cart-notify" href="#">
                                            <i class="fa fa-shopping-cart"></i> <!-- ngIf: cart > 0 -->
                                        </a>
                                    </li>
                                    <!-- ngIf: vm.account -->
                                    <!-- ngIf: !vm.account -->
                                    <li class="link-login ng-scope" ng-if="!vm.account">
                                        <a href="#"
                                           translate="" class="ng-scope ng-binding"></a>
                                    </li><!-- end ngIf: !vm.account -->
                                    <!-- ngIf: vm.account -->
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <!--Account login menu control-->
            </div>

        </section>

    </header>

    <div id="main-content" ng-app="domainPriceApp" ng-controller="domainPriceCtrl" class="ng-scope">
        <div class="domain-price-list">
            <div class="content-inner no-padding">
                <div class="container">
                    <h1 class="page-title h1 ng-scope" translate="">Thông tin chi tiết tên miền</h1>
                    <div class="price-domain-name search-form-dmn-global" affix-whois="" style="top: -77px;">
                        <div class="search-dmn-continue whois-dmn-wrap">
                            <form class="domain-search-form ng-pristine ng-valid" method="get" action="" id="search">
                                <div class="input-group input-group-lg no-margin">
                                    <input ng-model="query" placeholder="Nhập tên miền bạn muốn mua tại đây"
                                           class="form-control input-search ng-pristine ng-untouched ng-valid ng-isolate-scope"
                                          name="search" focus="" type="text">
                                    <!-- ngIf: selected -->
                                    <span class="input-group-btn">
                            <button class="btn btn-search-action bg-yellow-f7c641 ng-scope" type="submit" translate="">Kiểm tra</button>
                        </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="pr-extes-global pr-extes margin-bottom-20px">
                        <div class="box-inner">

                            <table class="table table-bordered" domain-price="global">
                                <colgroup>
                                    <col width="30%">
                                    <col width="25%">
                                    <col width="25%">
                                    <col width="25%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th translate="" class="ng-scope">Tên miền</th>
                                    <th class="ng-binding">Mô tả
                                    </th>
                                    <th class="ng-binding">Giá <br>
                                    </th>
                                    <th class="ng-binding">Trạng thái<br>

                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% load humanize %}
                                {% for item in listdomain %}
                                    <tr class="ng-scope active">
                                        <td class="txt-sz-16px"><a href="#"
                                                                   class="suf-name ng-binding"> {{ item.name_domain }}</a>
                                        </td>

                                        <td ng-if="!suffix.isPromotion" class="ng-scope">
                                            {{ item.description_domain }}
                                        </td>
                                        <td class="ng-scope">
                                            <strong class="ng-binding" style="color: blue;">{{ item.price|floatformat:0|intcomma }} đ</strong>
                                        </td>
                                        <td class="ng-scope">
                                            {% if item.status %}
                                                <strong class="ng-binding"> Đã bán </strong>
                                            {% else %}
                                                <strong class="ng-binding"> Mới </strong>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start: Footer -->
    <footer id="footer" class="ng-scope">
        <div class="footer-quick-links ng-scope" ng-controller="footerMenuCtrl">
            <div class="ft-iNET-info">
                <div class="container">
                    <div class="text-center padding-top-15px" style="border-top: 1px solid rgba(255,255,255,.1);">
                        <p class="txt-copyright">Copyright © 2005 <a href="#">TenMien</a> - <i>Nhà đăng
                            ký</i> Tên miền <i> Việt Nam và Quốc tế</i></p>
                        <p>Công ty TNHH An Gia Khang - Đại diện: <strong>Ông Lê Sinh Thiếu</strong></p>
                        <p>Mã số thuế: <strong>0103581701</strong> cấp ngày: <strong>11/03/2009</strong> tại Phòng
                            đăng ký kinh doanh Sở Kế hoạch và Đầu tư Thành phố Hà Nội</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>
</body>
</html>